@using Entities
@model Entities.Question

@{
    List<Question> questions = (List<Question>)ViewData["questions"];
    List<Answer> answers = (List<Answer>)ViewData["answers"];
}

<h2>Submit a Question</h2>
<form method="post" asp-action="CreateQuestion">
    <div class="form-group">
        <label asp-for="Content" class="control-label">Content</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit Question" class="btn btn-primary"/>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Question ID</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Creation Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var question in questions)
    {
        <tr>
            <td>@question.Id</td>
            <td>@question.Content</td>
            <td>@answers?.FirstOrDefault(a => a.Id == question.AnswerId)?.Content</td>
            <td>@question.CreationDate.ToShortDateString()</td>
        </tr>
    }
    </tbody>
</table>